// _scss
$font-stack-default: "Rubik", "Josefin Sans", sans-serif;

// Font weights
$font-light: 400;
$font-medium: 500;

// Font sizes
$font-default-size: 18px;

// Colors
$color-blue-600: hsl(231, 69%, 60%);
$color-red-400: hsl(0, 94%, 66%);
$color-grey-50: hsl(0, 0%, 97%);
$color-blue-950: hsl(229, 31%, 21%);
$color-grey-700:hsl(0, 0%, 40%);

$font-scale: (
  h1: 2rem,
  h2: 3.05rem,
  h3: 1.5em,
  h4: 1.953rem,
  h5: 1.5625rem,
  h6: 1.25rem,
  p: 1rem
);
$font-line-height: 1.4;

// Font mixin
@mixin type-style($element, $family: $font-stack-default, $weight: 400) {
  font-size: map-get($font-scale, $element);
  font-family: $family;
  font-weight: $weight;
  line-height: $font-line-height;
}


@mixin fluid-type($min-size, $max-size, $min-vw: 320px, $max-vw: 1280px) {
  font-size: clamp(#{$min-size}, calc(#{$min-size} + (#{strip-unit($max-size)} - #{strip-unit($min-size)}) * ((100vw - #{$min-vw}) / (#{strip-unit($max-vw)} - #{strip-unit($min-vw)}))), #{$max-size});
}

// styles.scss (main file)

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-stack-default;
   overflow-x: hidden;
}

*, *::after, *::before {
  box-sizing: inherit;
}


p{
    @include type-style(p, $font-stack-default,$font-medium);
    color: $color-grey-700;
}
main {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  // max-width: 1200px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 3em 1.25em;
  align-items: center;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}
.nav__menu{
  display: none;
}
.nav button{
    border: none;
    background: none;
    font-size: 1rem;
    cursor: pointer;
    background-color: transparent;
    color: $color-grey-50;
    font-weight: 700;
}
.sidebar{
    height: 120vh;
    width: 100%;
    background-color: $color-blue-950;
  opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    transform: translateY(-20px);
    transition: all 0.3s ease-in-out , transform 0.3s ease-in-out;

}
.sidebar.active{
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
}
.nav__close{
    cursor: pointer;
    display: none;
}
.nav__close.active{
    display: block;
}
.sidebar__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
  padding: 3em 2em;
  
}

.sidebar__menu{
  display: grid;
  gap: 1em;
  padding: 0 2em;
  transition: all 0.3s ease-in-out;
}
.sidebar__menu li{
  list-style: none;
  position: relative;

  &:first-child::before{
    content: "";
    position: absolute;
    top: -1em;
    display: block;
    width: 100%;
    height: 0.5px;
    background-color: $color-grey-50;
  }


  &::after{
    content: "";
    display: block;
    width: 100%;
    height: 0.5px;
    margin-top: 0.5em;
    background-color: $color-grey-50;
  }

}
.sidebar__menu a {
  text-decoration: none;
  color: $color-grey-50;
  font-weight: 300;
  font-size: 1.25em;
  text-transform: uppercase;
  display: block;
  text-align: center;
  position: relative;
  padding: 0.5em 0; // Added padding to create space around the text
}

.sidebar__menu{
  button{
    border: 3px solid $color-grey-50;
    border-radius: 8px;
    font-weight: bold;
    letter-spacing: 0.15em;
    background: none;
    padding: 1em .7em;
    font-size: 1.25em;
    text-transform: uppercase;
    cursor: pointer;
    background-color: transparent;
    color: $color-grey-50;
    font-weight: 700;
    width: 100%;
    margin-top: 1em;
  }
}

.sidebar__social{
  position: relative;
  top: 12em;
  display: flex;
  justify-content: center;
  gap: 4em;
}
.hero{
    margin-bottom: 3em;
}
.hero__img{
    width: 100%;
    max-width: 600px;
    height: auto;
    position: relative;
}

.hero__img--wrapper {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;

  &::before {
    content: "";
    position: absolute;
    top: 3.5em;
    left: 2em;
    width: 94%;
    height: 80%;
    background-color: $color-blue-600;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px; 
    z-index: -1;
    transform: translateX(5%); 
    overflow: hidden;
  }
}

.hero__title{
    @include fluid-type(h1, $font-stack-default, $font-medium);
    margin: 0.5em 0;
    color: $color-blue-950;
}
.hero__text--wrapper{
    margin-top: 3em;
}
.hero__text{
    max-width: 30ch;
}
.btn--wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    margin-top: 1em;
}
.btn{
    border: none;
    padding: 1em .7em;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
}
.btn--primary{
    background-color: $color-blue-600;
    color: $color-grey-50;
}
.btn--secondary{
    background-color: $color-grey-50;
    color: $color-grey-700;
    font-weight: 700;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); //shadow for button at bottom
}
.btn--primary:hover{
    background-color: white;
    color: $color-blue-600;//ew
    border: 1px solid $color-blue-600;
}
.btn--secondary:hover{
    background-color: white;
    color: $color-grey-700;
    border: 1px solid $color-grey-700;
}
.features{
    margin-top: 4em;
}
.features__text{
    max-width: 40ch;
    
}

.tab-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin: 3em auto 2em;
}

.tab-wrapper button[role="tab"] {
  width: 100%;
  padding: 1em 2em;
  text-align: center;
  border: none;
  background: transparent;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  border-top: 1px solid #666666;
  // border-bottom: 1px solid #666666;
  color: inherit;
  position: relative;
}
.tab-wrapper button[role="tab"]:last-child {
  border-bottom: 1px solid #666666;
}

.tab-wrapper button.is-active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 3px;
  background-color: #e63946;
  border-radius: 1px;
}

.tab-wrapper button[role="tab"]:hover {
  color: $color-red-400 ;
}

.feature__list{
  display: none;
  margin-top: 4em;
}

.feature__list.is-active{
  display: block;
}

.feature__list__img--wrapper{
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;

  &::before {
    content: "";
    position: absolute;
    top: 2.2em;
    right: 1.3em;
    width: 96%;
    height: 100%;
    background-color: $color-blue-600;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px; 
    z-index: -1;
    transform: translateX(-5%); 
    overflow: hidden;
  }
}
.feature__list__text--wrapper{
    margin-top: 4.5em;

    h2{
      margin: 0;
    }
    p{
      margin: 0;
      padding-top: 1em;
    }
}

.feature__list__img{
    width: 100%;
    max-width: 400px;
    height: auto;
}
.feature__list__text{
  line-height: 1.5;
}

.card{
    display: flex;
    flex-direction: column;
    // align-items: center;
    gap: 2em;
    margin-bottom: 2em;
}

.card-item{
    background: rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1.4em;
    box-shadow: 20px 10px 20px rgba(0,0,0,0.1);

    min-height: 340px;
    h3,p{
        margin:  0.5em;
    }
}
.card-item__img{
    position: relative;
    top: 1em;
    padding: 1em;
}

.card-item__text{
    margin-top: 1em;
}
.card-item__btn{
    border: none;
    padding: 1em .7em;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    background-color: $color-blue-600;
    color: $color-grey-50;
    font-weight: 700;
    margin-top: 1em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}
.card-item__btn:hover{
    background-color: white;
    color: $color-blue-600;
    border: 1px solid $color-blue-600;
}
.download{
  margin-top: 4em;
}
.download__text{
  line-height: 1.5;
}
.faq{
  margin-top: 3em;
}
.card-item__img{

    margin: 0 auto;
    height: auto;
}
summary {
    list-style: none; 
}
summary::-webkit-details-marker {
    display: none; 
}
.accordion-trigger{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.accordion-item[open] .accordion-trigger {
  border-bottom: none;
}

.accordion-title{
  color: $color-blue-950;
  display: block;
}
.accordion-title:hover{
  color: $color-red-400;
  cursor: pointer;
}
.accordion-icon{
  cursor: pointer;
  margin-right: 1em;
  transition: transform 0.3s ease;
}
.accordion-icon img,
.accordion-icon svg {
    display: none;
}

.icon-close{
    transform: rotate(180deg);
}

.accordion-item:not([open]) .icon-open {
    display: inline-block;
}

.accordion-item[open] .icon-close {
    display: inline-block;
}

.faq__list__btn{
    border: none;
    padding: 1em .7em;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    width: 40%;
    background-color: $color-blue-600;
    color:$color-grey-50;
    font-weight: 700;
    margin-top: 2em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.contact__form__container {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.contact__form__background {
  width: 100%;
  padding: 0.15em;
  border-radius: 5px;
  background-color: transparent;
  transition: background-color 0.3s ease;

  &.error {
    background-color: $color-red-400; 
    padding-bottom:0.5em ;
  }
}

.contact__form--input {
  width: 100%;
  padding: 1em;
  border: none;
  border-radius: 5px;
  outline: none;
}

.contact__form--icon {
  position: absolute;
  right: 1em;
  width: 20px;
  height: 20px;
  display: none;
  top: 1em;

  &.visible {
    display: block;
  }
}

.contact__form--error {
  font-size: 0.75rem;
  color: $color-grey-50;
  margin: 0;
  padding-top: 0.6em;
  display: none;
  text-align: left;

  &.visible {
    display: block;
  }
}

.contact{
  background-color: $color-blue-600;
  color: $color-grey-50;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2em;
  margin-top: 4em;
}
.contact__text{
  color: $color-grey-50;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}
.accordion-content{
  color: $color-blue-600;
  padding: 0rem 0 0rem 0rem;
  line-height: 2em;
  max-width: 32.5ch;
  text-align: left;
    p{
    margin: 0;
    padding: 1em
  }
}
.contact__title{
  @include type-style(h3, $font-stack-default, $font-medium);
  margin: 0.5em 0;
}
.contact__form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin-top: 2em;
  width: 100%;
  input{
    width: 100%;
    padding: 1em;
    border-radius: 5px;
    border: none;
  }
  button{
    border: none;
    padding: .8em .7em; ;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    background-color: $color-red-400;
    color: $color-grey-50;
    font-weight: 700;
    margin-top: 0.5em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
}
.footer{
  background-color: $color-blue-950;
  color: $color-grey-50;
  text-align: center;
}
.footer__about{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0 0 0;
  gap: 1em;
  
   p{
    margin: 0;
    padding: 0.75em;
    color: $color-grey-700;
    text-transform: uppercase;
   }
}

.is-hidden {
  display: none !important;
}

.footer__icons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding: 1em 0;
}

@media screen and (min-width: 768px) {

  .nav{
    padding: 1em 3em;
    max-width: 1200px;
    align-items: center;
  }
  .nav__toggle{
    display: none;
  }
  .nav__menu{
    display: flex;
    gap: 2em;
    align-items: center;
  }
  .nav__menu li{
    list-style: none;
  }
  .nav__menu a {
    text-decoration: none;
    color: $color-grey-700;
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
    display: block;
    position: relative;
    padding: 0.5em 0; // Added padding to create space around the text
  }
  .nav__menu a:hover{
    color: $color-red-400;
  }
  .nav__menu .btn--login{
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 0.15em;
    background: $color-red-400;
    font-size: 1rem;
    padding: .5em 1em;
    font-size: 1rem;
    cursor: pointer;
    color: $color-grey-50;
    font-weight: 700;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .nav__menu .btn--login:hover{
    background-color: $color-grey-50;
    color: $color-red-400;
    border: 1px solid $color-red-400;
  }
  .hero{
    display: flex;
    flex-direction: row-reverse;
    // align-items: center;
    justify-content: space-between;
    gap: 2.5em;
  }
  .hero__text--wrapper{
    text-align: left;
  }
  .hero__img--wrapper{
    transform: translateX(7em);
  }
  .hero__img--wrapper::before {
    height: 90%;
    transform: translateX(6em);
  }
  .hero__title{
    max-width: 20ch;
  }
  .hero__text{
    max-width: 45ch;
    line-height: 1.5;
  }
  .btn--wrapper{
    justify-content: flex-start;
    gap: 1em;
    margin-top: 2em;
  }
  
  .btn{
    padding: 0.75em 0.3em;
  }
    .card{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card-item:nth-child(2) {
    margin-top: 2em;
  }

  .card-item:nth-child(3) {
    margin-top: 4em;
  }
    .features__text{
      line-height: 1.5;
        text-align: center;
        margin: 0 auto;
        max-width: 45ch;
    }
.tab-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px solid $color-grey-700;
  width: fit-content; // or fixed width if needed
  margin: 2em auto;
  padding: 0 0rem; // Optional: controls how far line extends past text
}
.tab-wrapper button.is-active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  height: 3px;
  background-color: #e63946;
  border-radius: 1px;
}


   .tab-wrapper button[role="tab"] {
     white-space: nowrap; // 💥 prevents wrapping
    width: auto; 
  width: 100%;
  padding: 1em 2em;
  text-align: center;
  border: none; // This removes all borders
  background: transparent;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  color: inherit;
  position: relative;

  
}
.feature__list{
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 6em;
    margin: 4rem 0;
    padding: 0 1rem;
    text-align: center;
}
.feature__list.is-active {
  display: flex; 
}
.feature__list__img--wrapper{
  
  // transform: translateX(-1em);
  &::before {
    width: 190%;
  }
}
.feature__list__text--wrapper{
    margin-top: 0;
    text-align: left;
    max-width: 30ch;
}

.download__text{
    max-width: 50ch;
    margin: 0 auto;
}
.card{
  margin-top: 2em;
}
.card-item__btn {
  max-height: 50px; /* or just remove this rule */
  // height: auto;
  // padding: 10px 20px; /* control size with padding */
  // line-height: 1.2;
  box-sizing: border-box;
}
.faq__text{
  max-width: 45ch;
  margin: 0 auto;
  margin-bottom:2em ;
}
.accordion-trigger{
  border: none;
}
.accordion-trigger:nth-child(1){
  border-top: 1px solid $color-grey-700;
}
.accordion-item:last-of-type .accordion-trigger {
  border-bottom: 1px solid $color-grey-700; 
}
.accordion-content{
  max-width: 60ch;
  margin-top:1em ;
  margin-bottom: 2em;
  p{
    line-height: 2;
    padding: 0;
  }
}

.faq__list__btn{
  max-width:  30%;
}
.contact{
  margin: 0 auto;
}
 .contact__form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    max-width: 400px;

    button{
      margin-top: 0;
      
    }
  }
  .contact__title{
    font-size: 2em;
    max-width: 20ch;
  }

  .contact__form__container {
    flex: 0 0 70%;   // Fix container width to 70%
    margin: 0;       // Remove any margin if needed
    padding: 0;      // Remove padding if needed
    display: flex;   // Make it flex if needed to contain the background and input nicely
  }

  .contact__form__background {
    width: 100%;    // Fill the container fully
    padding: 0;     // Reset padding if necessary
  }

  input {
    width: 100%;    // Input fills the background wrapper
  }

  button {
    flex: 0 0 30%;  // Fix button width to 30%
    margin: 0;      // Reset margin if needed
  }
.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: .2em 4em;
  font-size: $font-default-size
}
.footer__about{
  align-items: center;
  text-align: left;
  display: flex;
  flex-direction: row;
  gap: 1em;
  padding: 0 1em;
}
.footer__about p:hover{
    color: $color-red-400;
    cursor: pointer;
}

.footer__icons svg:hover path {
  fill: $color-red-400;
  cursor: pointer;
}

}