// _scss
$font-stack-default: "Rubik", "Josefin Sans", sans-serif;

// Font weights
$font-light: 400;
$font-medium: 500;

// Font sizes
$font-default-size: 18px;

// Colors
$color-blue-600: hsl(231, 69%, 60%);
$color-red-400: hsl(0, 94%, 66%);
$color-grey-50: hsl(0, 0%, 97%);
$color-blue-950: hsl(229, 31%, 21%);
$color-grey-700:hsl(0, 0%, 40%);

$font-scale: (
  h1: 2rem,
  h2: 3.05rem,
  h3: 1.5em,
  h4: 1.953rem,
  h5: 1.5625rem,
  h6: 1.25rem,
  p: 1rem
);
$font-line-height: 1.4;

// Font mixin
@mixin type-style($element, $family: $font-stack-default, $weight: 400) {
  font-size: map-get($font-scale, $element);
  font-family: $family;
  font-weight: $weight;
  line-height: $font-line-height;
}


@mixin fluid-type($min-size, $max-size, $min-vw: 320px, $max-vw: 1280px) {
  font-size: clamp(#{$min-size}, calc(#{$min-size} + (#{strip-unit($max-size)} - #{strip-unit($min-size)}) * ((100vw - #{$min-vw}) / (#{strip-unit($max-vw)} - #{strip-unit($min-vw)}))), #{$max-size});
}

// styles.scss (main file)

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-stack-default;
}

*, *::after, *::before {
  box-sizing: inherit;
}


p{
    @include type-style(p, $font-stack-default,$font-medium);
    color: $color-grey-700;
}
main {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 3em 1.25em;
  align-items: center;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}
.hero{

    margin-bottom: 3em;
}
.hero__img{
    width: 100%;
    max-width: 600px;
    height: auto;
    position: relative;
}

.hero__img--wrapper {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;

  &::before {
    content: "";
    position: absolute;
    top: 3.5em;
    left: 2em;
    width: 96%;
    height: 80%;
    background-color: $color-blue-600;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px; 
    z-index: -1;
    transform: translateX(5%); 
    overflow: hidden;
  }
}

.hero__title{
    @include type-style(h1, $font-stack-default, $font-medium);
    margin: 0.5em 0;
    color: $color-blue-950;
}
.hero__text--wrapper{
    margin-top: 3em;
}
.hero__text{
    max-width: 30ch;
}
.btn--wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    margin-top: 1em;
}
.btn{
    border: none;
    padding: 1em .7em;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
}
.btn--primary{
    background-color: $color-blue-600;
    color: $color-grey-50;
}
.btn--secondary{
    background-color: $color-grey-50;
    color: $color-grey-700;
    font-weight: $font-medium;
    font-weight: 700;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); //shadow for button at bottom
}
.features{
    margin-top: 4em;
}
.features__text{
    max-width: 40ch;
    
}

.tab-table {
  border-collapse: collapse;
  margin: 0 auto; /* center the table */
  width: max-content;
  margin-top: 3em;
  margin-bottom: 2em;
}

.tab-table td {
  border-top: 1px solid #666666;  
  border-bottom: 1px solid #666666; 
  padding: 0 3em;
}

.tab-table tr:first-child td {
  border-top: 1px solid #666666; 
}

.tab-table tr:last-child td {
  border-bottom: 1px solid #666666; 
}

.tab-table button {
  background: transparent;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  padding: 1em 2em;
  width: 100%;
  cursor: pointer;
  position: relative;
}

.tab-table button.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 3px;
  background-color: #e63946; /* red underline */
  border-radius: 1px;
}

.tab-table button:hover {
  color: #e63946; /* red on hover */
}


.feature__list{
  margin-top: 4em;
}

.feature__list__img--wrapper{
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  // margin-bottom: 4em;

  &::before {
    content: "";
    position: absolute;
    top: 2.2em;
    right: 1.3em;
    width: 96%;
    height: 100%;
    background-color: $color-blue-600;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px; 
    z-index: -1;
    transform: translateX(-5%); 
    overflow: hidden;
  }
}
.feature__list__text--wrapper{
    margin-top: 4.5em;

    h2{
      margin: 0;
    }
    p{
      margin: 0;
      padding-top: 1em;
    }
}

.feature__list__img{
    width: 100%;
    max-width: 400px;
    height: auto;
}
.feature__list__text{
  line-height: 1.5;
}

.card{
    display: flex;
    flex-direction: column;
    // align-items: center;
    gap: 2em;
    margin-bottom: 2em;
}

.card-item{
    background: rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1.4em;
    box-shadow: 20px 10px 20px rgba(0,0,0,0.1);

    min-height: 340px;
    h3,p{
        margin:  0.5em;
    }
}
.card-item__img{
    position: relative;
    top: 1em;
    padding: 1em;
}

.card-item__text{
    margin-top: 1em;
}
.card-item__btn{
    border: none;
    padding: 1em .7em;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    background-color: $color-blue-600;
    color: $color-grey-50;
    font-weight: 700;
    margin-top: 0.5em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}
.download{
  margin-top: 4em;
}
.download__text{
  line-height: 1.5;
}
.faq{
  margin-top: 3em;
}
.card-item__img{

    margin: 0 auto;
    height: auto;
}
summary {
    list-style: none; 
}
summary::-webkit-details-marker {
    display: none; 
}
.accordion-trigger{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid $color-grey-50;
}
.accordion-item[open] .accordion-trigger {
  border-bottom: none;
}
.accordion-title{
  color: $color-blue-950;
  display: block;
}
.accordion-title:hover{
  color: $color-red-400;
  cursor: pointer;
}
.accordion-icon{
  cursor: pointer;
  transition: transform 0.3s ease;
}
.accordion-icon img {
    display: none;
}

.accordion-item:not([open]) .icon-open {
    display: inline-block;
}

.accordion-item[open] .icon-close {
    display: inline-block;
}

.faq__list__btn{
    border: none;
    padding: 1em .7em;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    width: 40%;
    background-color: $color-blue-600;
    color:$color-grey-50;
    font-weight: 700;
    margin-top: 2em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.contact{
  background-color: $color-blue-600;
  color: $color-grey-50;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2em;
  margin-top: 4em;
}
.contact__text{
  color: $color-grey-50;
}
.accordion-content{
  color: $color-blue-600;
  padding: 0rem 0 1rem 0rem;
  border-bottom: 1px solid $color-grey-50;
  line-height: 1.5;
  max-width: 19.5rem;
  p{
    margin: 0;
  }
}
.contact__title{
  @include type-style(h3, $font-stack-default, $font-medium);
  margin: 0.5em 0;
}
.contact__form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin-top: 2em;
  width: 100%;
  input{
    width: 100%;
    padding: 1em;
    border-radius: 5px;
    border: none;
  }
  button{
    border: none;
    padding: 1em .7em;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    background-color: $color-red-400;
    color: $color-grey-50;
    font-weight: 700;
    margin-top: 0.5em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
}
.footer{
  background-color: $color-blue-950;
  color: $color-grey-50;
  text-align: center;
}
.footer__about{
  display: flex;
  flex-direction: column;
  align-items: center;

  
   p{
    margin: 0;
    padding: 0.75em;
    color: $color-grey-50;
    text-transform: uppercase;
   }

}
.footer__logo{
   filter: brightness(0) saturate(100%) invert(100%);
}
.footer__icons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding: 1em 0;
}
@media screen and (min-width: 768px) {

  .nav{
    padding: 1rem;

  }
  .hero{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
    .card{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

.feature__list{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    margin: 4rem 0;
    padding: 0 1rem;
    text-align: center;
    background-color: aquamarine;
}
.tab--wrapper {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid $color-grey-50;
  width: fit-content; // or fixed width if needed
  margin: 0 auto;
  padding: 0 2rem; // Optional: controls how far line extends past text
}

}